#wesh .morray {
  display: none;
}

@font-face {
  font-family: KairosSans;
  font-display: swap;
  src: url(https://yoksel.github.io/variable-fonts/assets/fonts/KairosSans/KairosSans_Variable.ttf) format("truetype");
}
@keyframes movie {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
#glitchBg {
  position: fixed;
  pointer-events: none;
  animation: movie 1s steps(4) infinite;
  background-image: url(https://badwork.fr/assets/img/movie.png);
  height: 200%;
  left: -50%;
  top: -50%;
  width: 200%;
  opacity: 0.5;
  z-index: 99;
}

.container-fluid {
  max-width: 100vw;
}

h1 {
  font-family: Termina, sans-serif;
  font-weight: 800;
}

h2 {
  font-family: Termina, sans-serif;
  font-weight: 700;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #101010;
  color: #E7E7E7;
}
body #__next {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header {
  position: absolute;
  width: 100vw;
  padding: 15px 0;
  font-family: Termina, sans-serif;
}
#header .logo {
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
}
#header #customNav {
  width: 100vw;
  position: fixed;
  height: 0;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #FF342333;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header #customNav ul {
  transform: translateY(-100%);
  font-size: 48px;
  list-style: none;
  padding: 0;
}
#header .nav {
  justify-content: space-between;
}
#header .nav .nav-item .nav-link {
  color: #E7E7E7;
}
#header .nav .nav-item .nav-link:hover {
  color: #c7c7c7;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 150px;
}
#hero .hero-txt {
  font-size: 14rem;
  font-family: Termina, sans-serif;
  font-weight: 800;
  letter-spacing: -0.5rem;
  line-height: 14rem;
  color: #303030;
  transition: all 250ms ease;
}
#hero .hero-txt#firstWord {
  transform: translateX(-360px);
}
#hero .hero-txt#secondWord {
  transform: translateX(360px);
}
#hero .social-container {
  position: absolute;
  right: 30px;
  bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
#hero .social-container.hide {
  opacity: 0;
  transition: opacity 250ms ease;
}
#hero .social-container img {
  max-height: 20px;
  filter: invert(0.75);
}
#hero .social-container a:hover img {
  transition: filter 250ms ease;
  filter: invert(1);
}
#hero img {
  position: absolute;
  justify-self: flex-start;
  align-self: flex-start;
  bottom: -50%;
}

#profilPic {
  display: flex;
  justify-content: flex-end;
  padding: 60px 0;
  margin-bottom: 180px;
}
#profilPic img {
  max-height: 260px;
}

#description {
  position: sticky;
  top: 25vh;
  height: max-content;
  margin-bottom: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
#description .title {
  font-size: 10rem;
}
#description .desc-container h2 {
  font-size: 4rem;
  margin-bottom: 50px;
}
#description .desc-container p {
  font-size: 1.4rem;
  font-family: Termina, sans-serif;
  font-weight: 100;
}
#description .desc-container p span {
  font-weight: 500;
}
#description .social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin-top: 90px;
}
#description .social-container img {
  max-height: 20px;
  filter: invert(0.75);
}
#description .social-container a:hover img {
  transition: filter 250ms ease;
  filter: invert(1);
}

.selected-works h2 {
  font-size: 46px;
  font-weight: 800;
  font-family: Termina, sans-serif;
  color: #E7E7E7;
  width: 100%;
  text-align: right;
  margin-bottom: 60px;
}
.selected-works .works-list {
  display: flex;
  flex-direction: column;
}
.selected-works .works-list .work {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  padding: 30px;
  margin-bottom: 30px;
}
.selected-works .works-list .work .work-title h3 {
  font-size: 24px;
  font-weight: 500;
  font-family: Termina, sans-serif;
  color: #e7e7e7;
  margin-bottom: 30px;
}
.selected-works .works-list .work .work-title .work-description {
  padding-right: 90px;
  font-weight: 400;
  font-family: Termina, sans-serif;
  color: #e7e7e7;
  margin-bottom: 30px;
}
.selected-works .works-list .work .stack p {
  font-family: Termina, sans-serif;
  font-weight: 500;
  font-size: 18px;
}

#stack {
  margin-top: 120px;
}
#stack h2 {
  font-size: 46px;
  font-weight: 800;
  font-family: Termina, sans-serif;
  color: #E7E7E7;
  width: 100%;
  text-align: right;
  margin-bottom: 90px;
}
#stack .logos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px 150px 150px;
  grid-template-areas: "react . tailwind ." ". next . strapi" "graphql . bootstrap ." ". woo . anime" "glide . shopi .";
}
#stack .logos-container img {
  max-width: 105px;
  max-height: 75px;
}
#stack .logos-container img.react-logo {
  transform: translateY(-15px);
  grid-area: react;
}
#stack .logos-container img.tailwind-logo {
  transform: translateY(-15px);
  grid-area: tailwind;
}
#stack .logos-container img.next-logo {
  grid-area: next;
}
#stack .logos-container img.strapi-logo {
  grid-area: strapi;
}
#stack .logos-container img.graphql-logo {
  grid-area: graphql;
}
#stack .logos-container img.bootstrap-logo {
  grid-area: bootstrap;
}
#stack .logos-container img.woo-logo {
  grid-area: woo;
}
#stack .logos-container img.anime-logo {
  grid-area: anime;
}
#stack .logos-container img.glide-logo {
  grid-area: glide;
}
#stack .logos-container img.shopi-logo {
  grid-area: shopi;
}

#quote {
  padding-top: 120px;
}
#quote p {
  font-family: Termina, sans-serif;
  font-size: 82px;
  font-weight: 800;
}

#contact {
  padding-top: 160px;
  position: sticky;
  top: 0vh;
}
#contact .bubbles .bubble {
  padding: 8px 15px;
  background-color: #303030;
  margin-bottom: 15px;
  width: max-content;
  border-radius: 20px 20px 20px 0;
  position: relative;
  min-width: 70px;
  min-height: 35px;
}
#contact .bubbles .bubble .loader {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  height: 20px;
}
#contact .bubbles .bubble .loader span {
  background-color: #c7c7c7;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
#contact .bubbles .bubble span.txt {
  font-family: Termina, sans-serif;
  position: absolute;
  opacity: 0;
}
#contact #contactForm {
  margin-top: 90px;
  font-family: Termina, sans-serif;
}
#contact #contactForm input, #contact #contactForm textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid #FFF;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 18px;
}
#contact #contactForm .inputs {
  display: flex;
}
#contact #contactForm .inputs > div {
  width: 50%;
  padding: 0 5px;
}
#contact #contactForm .sujet {
  padding: 0 5px;
}
#contact #contactForm .textarea {
  width: 100%;
  padding: 0 5px;
}
#contact #contactForm .textarea textarea {
  height: 90px;
}
#contact #contactForm button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  color: #FFF;
  width: 100%;
  text-transform: uppercase;
}

#footer {
  margin-top: 90px;
}
#footer p {
  font-family: Termina, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}